.navbar {
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
}

.img_container {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}